@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  margin: 0;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-selected > span {
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 32px;
}
.custom-select .select-selected::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url(../assets/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: all ease-in-out 0.1s;
  opacity: 0.5;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  max-height: 240px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.custom-select .select-items::-webkit-scrollbar {
  width: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-select .select-items .same-as-selected {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.game-search__wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 11px 16px 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.game-search__title {
  font-weight: 600;
}
.game-search__links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.game-search__links-link {
  color: #222;
}

.breadcrumbs {
  margin: 42px 0 14px;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs__list-item {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #4d4d4d;
}
.breadcrumbs__list-item::after {
  content: "/";
  display: inline-block;
}
.breadcrumbs__list-item:last-child::after {
  display: none;
}
.breadcrumbs__list-item-link {
  color: #4d4d4d;
}