@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  margin: 0;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-selected > span {
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 32px;
}
.custom-select .select-selected::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url(../assets/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: all ease-in-out 0.1s;
  opacity: 0.5;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  max-height: 240px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.custom-select .select-items::-webkit-scrollbar {
  width: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-select .select-items .same-as-selected {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.voices {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4px;
  cursor: pointer;
}
.voices::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  background: url(../assets/check.svg) center no-repeat;
}
.voices__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 180%;
  text-align: center;
  color: #222;
}
.voices__list {
  position: absolute;
  left: 0;
  bottom: 100%;
  display: none;
  flex-direction: column;
  gap: 12px;
  padding: 16px 48px 16px 20px;
  margin: 0;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
}
.voices__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-width: 148px;
  cursor: pointer;
}
.voices__list-item::after {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background: url(../assets/check.svg) center no-repeat;
  background-size: 16px;
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
  filter: brightness(0);
}
.voices__list-item:hover::after {
  opacity: 1;
  filter: brightness(1);
}
.voices:hover .voices__list {
  display: flex;
}

.game-search__wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 11px 16px 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.game-search__title {
  font-weight: 600;
}
.game-search__links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.game-search__links-link {
  color: #222;
}

.breadcrumbs {
  margin: 42px 0 14px;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs__list-item {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #4d4d4d;
}
.breadcrumbs__list-item::after {
  content: "/";
  display: inline-block;
}
.breadcrumbs__list-item:last-child::after {
  display: none;
}
.breadcrumbs__list-item-link {
  color: #4d4d4d;
}

.game-heading {
  margin: 14px 0 32px;
}
.game-heading__content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.game-heading__title {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 133%;
  color: #222;
}
.game-heading__icons {
  display: flex;
  align-items: center;
  gap: 7px;
}
.game-heading__icons-item {
  display: inline-block;
  height: 28px;
  width: 28px;
  background: url(../assets/diskette.svg) center no-repeat;
}

.game-info {
  margin: 32px 0 44px;
}
.game-info .container {
  display: flex;
  gap: 29px;
}
.game-info__content {
  flex: 1 1 auto;
  box-sizing: border-box;
}
.game-info__sidebar {
  flex: 0 0 270px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  box-sizing: border-box;
}
.game-info__sidebar-figure {
  height: 329px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.game-info__sidebar-figure-image {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.game-details {
  display: flex;
  gap: 29px;
  margin: 0 0 74px;
}
.game-details__sidebar {
  flex: 0 0 270px;
}
.game-details__sidebar-cover {
  margin: 0 0 20px;
}
.game-details__sidebar-cover-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.game-details__sidebar-user {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 15px;
  line-height: 147%;
  font-weight: 400;
}
.game-details__sidebar-user-title {
  font-weight: 600;
  color: #222;
}
.game-details__sidebar-user-text {
  color: #4d4d4d;
}
.game-details__sidebar-user-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #cbcbcb;
}
.game-details__sidebar-user-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.game-details__sidebar-user-info-item::before {
  content: "";
  height: 21px;
  width: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px;
}
.game-details__sidebar-user-info-item_full:before {
  background-image: url(../assets/star.svg);
}
.game-details__sidebar-user-info-item_approved:before {
  background-image: url(../assets/approve.svg);
}
.game-details__sidebar-user-info-item_notfull:before {
  background-image: url(../assets/minus.svg);
}
.game-details__sidebar-user-info-item_doubtfully:before {
  background-image: url(../assets/question.svg);
}
.game-details__sidebar-user-info-item_tips:before {
  background-image: url(../assets/tips.svg);
}
.game-details__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.game-details__info-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.game-details__info-item-title {
  font-weight: 600;
  color: #222;
}
.game-details__info-item-text {
  color: #4d4d4d;
}
.game-details__info-item-edit {
  display: inline-block;
  padding: 0;
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 4px;
  background: url(../assets/edit.svg) center no-repeat;
  background-size: 10px;
  background-color: #044b96;
  cursor: pointer;
}
.game-details__info-item-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 6px;
}
.game-details__info-item-icons-image {
  height: 35px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.game-details__rarity {
  flex: 0 0 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.game-details__rarity-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.game-details__rarity-content-title {
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  text-align: center;
}
.game-details__rarity-content-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 140px;
  margin: 0 auto;
}
.game-details__rarity-content-rating-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
.game-details__rarity-content-rating-icon-item {
  width: 7px;
  background-color: #c6c6c6;
}
.game-details__rarity-content-rating-icon-item:nth-child(1) {
  height: 12px;
}
.game-details__rarity-content-rating-icon-item:nth-child(2) {
  height: 18px;
}
.game-details__rarity-content-rating-icon-item:nth-child(3) {
  height: 24px;
}
.game-details__rarity-content-rating_rare .game-details__rarity-content-rating-icon-item:nth-child(1) {
  background-color: #1862a9;
}
.game-details__rarity-content-rating_normal .game-details__rarity-content-rating-icon-item:nth-child(1), .game-details__rarity-content-rating_normal .game-details__rarity-content-rating-icon-item:nth-child(2) {
  background-color: #1862a9;
}
.game-details__rarity-content-rating_common .game-details__rarity-content-rating-icon-item {
  background-color: #1862a9;
}
.game-details__rarity-content-rating-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #222;
}
.game-details__rarity-content-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 7px;
  margin: 26px 0 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  background-color: #044b96;
}
.game-details__rarity-content-tag::before {
  content: "";
  height: 20px;
  width: 20px;
  background: url(../assets/gamepad.svg) center no-repeat;
}
.game-details__rarity-content-tag_exclusive {
  background-color: #eb5757;
}
.game-details__rarity-content-tag_exclusive::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(../assets/diamond.svg);
}

.game-covers__set {
  display: flex;
  align-items: center;
  gap: 27px;
  margin: 0 0 24px;
}
.game-covers__set-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #222;
}
.game-covers__set-item::before {
  content: "";
  width: 19px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
}
.game-covers__set-item_full::before {
  background-image: url(../assets/star.svg);
}
.game-covers__set-item_notfull::before {
  background-image: url(../assets/minus.svg);
}
.game-covers__cards {
  display: flex;
  gap: 6px;
  margin: 0 0 22px;
}
.game-covers__card {
  flex: 0 0 calc(16.6666666667% - 5px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}
.game-covers__card:hover {
  border-color: #044b96;
}
.game-covers__card-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  min-height: 48px;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: #044b96;
}
.game-covers__card-cover {
  height: 152px;
  margin: 0;
  padding: 13px;
  box-sizing: border-box;
  background: url(../assets/no-photo.svg) center no-repeat;
}
.game-covers__card-cover-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.game-covers__card-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 13px;
}
.game-covers__card-buttons::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 6px;
  background-color: #e1e1e1;
}
.game-covers__card-button {
  display: flex;
  gap: 5px;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #5e5e5e;
  text-align: left;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.game-covers__card-button::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.game-covers__card-button_comment::before {
  background-image: url(../assets/comment.svg);
}
.game-covers__card-button_incorrect::before {
  background-image: url(../assets/cross.svg);
}
.game-covers__card-details {
  position: relative;
}
.game-covers__card-details-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 7px 12px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 117%;
  color: #044b96;
  cursor: pointer;
}
.game-covers__card-details-button::after {
  content: "";
  width: 11px;
  height: 7px;
  background: url(../assets/arrow-right.svg) center no-repeat;
  background-size: 11px;
}
.game-covers__card-details-list {
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: none;
  width: 250px;
  padding: 16px 20px;
  box-sizing: border-box;
  list-style-type: none;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
}
.game-covers__card-details-list-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 215%;
  color: #222;
}
.game-covers__card-details-list-item b {
  font-weight: 600;
}
.game-covers__card-details:hover .game-covers__card-details-list {
  display: block;
}
.game-covers__bottom {
  display: flex;
  justify-content: space-between;
}
.game-covers__bottom-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #044b96;
}