@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  margin: 0;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-selected > span {
  display: inline-block;
  text-overflow: ellipsis;
  border-radius: 32px;
}
.custom-select .select-selected::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  background-image: url(../assets/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px;
  transition: all ease-in-out 0.1s;
  opacity: 0.5;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 8px 4px;
  max-height: 240px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.custom-select .select-items::-webkit-scrollbar {
  width: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.custom-select .select-items .same-as-selected {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
}
.custom-select .select-items div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.custom-input-datalist {
  position: relative;
}
.custom-input-datalist::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 20;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../assets/arrow.svg) center no-repeat;
  background-size: 18px;
  transform: translateY(-50%);
  transition: all ease-in-out 0.1s;
  opacity: 0.8;
}
.custom-input-datalist::before {
  display: none;
}
.custom-input-datalist.active {
  z-index: 100;
}
.custom-input-datalist.active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  background-color: rgba(0, 0, 0, 0);
}
.custom-input-datalist.active::after {
  transform: translateY(-50%) rotate(180deg);
}
.custom-input-datalist__input {
  position: relative;
  z-index: 19;
  display: block;
  width: 632px;
  box-sizing: border-box;
  padding: 11px 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #4d4d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline-color: #e0e0e0;
}
.custom-input-datalist__input::-moz-placeholder {
  color: #4d4d4d;
}
.custom-input-datalist__input::placeholder {
  color: #4d4d4d;
}
.custom-input-datalist__datalist {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  z-index: 20;
  max-height: 240px;
  padding: 8px 0;
  box-sizing: border-box;
  overflow: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
}
.custom-input-datalist__datalist > option {
  padding: 6px 16px;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.custom-input-datalist__datalist > option:hover {
  color: #ffffff;
  background-color: #044b96;
}

.voices {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4px;
  cursor: pointer;
}
.voices::before {
  content: "";
  display: block;
  height: 28px;
  width: 28px;
  background: url(../assets/check.svg) center no-repeat;
}
.voices__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 180%;
  text-align: center;
  color: #222;
}
.voices__list {
  position: absolute;
  left: 0;
  bottom: 100%;
  display: none;
  flex-direction: column;
  gap: 12px;
  padding: 16px 48px 16px 20px;
  margin: 0;
  list-style-type: none;
  border-radius: 7px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
}
.voices__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-width: 148px;
  cursor: pointer;
}
.voices__list-item::after {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background: url(../assets/check.svg) center no-repeat;
  background-size: 16px;
  opacity: 0.5;
  transition: all ease-in-out 0.2s;
  filter: brightness(0);
}
.voices__list-item:hover::after {
  opacity: 1;
  filter: brightness(1);
}
.voices:hover .voices__list {
  display: flex;
}

.breadcrumbs {
  margin: 42px 0 14px;
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs__list-item {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #4d4d4d;
}
.breadcrumbs__list-item::after {
  content: "/";
  display: inline-block;
}
.breadcrumbs__list-item:last-child::after {
  display: none;
}
.breadcrumbs__list-item-link {
  color: #4d4d4d;
}

.info {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.info:before {
  content: "и";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding-bottom: 2px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 110%;
  color: #a1a1a1;
  border-radius: 20px;
  background-color: #e7e7e7;
  transition: all ease-in-out 0.2s;
}
.info:hover::before {
  color: #fff;
  background-color: #044b96;
}
.info-text {
  display: none;
}
.info:hover .info-text {
  position: absolute;
  bottom: calc(100% + 4px);
  display: block;
  width: 250px;
  padding: 11px 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 13px;
  line-height: 146%;
  color: #222;
  border-radius: 7px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
}

.game-search__wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 11px 16px 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.game-search__title {
  font-weight: 600;
}
.game-search__links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.game-search__links-link {
  color: #222;
}

.game-heading {
  margin: 14px 0 32px;
}
.game-heading__content {
  display: flex;
  align-items: center;
  gap: 12px;
}
.game-heading__title {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 133%;
  color: #222;
}
.game-heading__icons {
  display: flex;
  align-items: center;
  gap: 7px;
}
.game-heading__icons-item {
  display: inline-block;
  height: 28px;
  width: 28px;
  background: url(../assets/diskette.svg) center no-repeat;
}

.game-info {
  margin: 32px 0 44px;
}
.game-info .container {
  display: flex;
  gap: 29px;
}
.game-info__content {
  flex: 1 1 auto;
  box-sizing: border-box;
}
.game-info__sidebar {
  flex: 0 0 270px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  box-sizing: border-box;
}
.game-info__sidebar-figure {
  height: 329px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f5f5f5;
}
.game-info__sidebar-figure-image {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.game-details {
  display: flex;
  gap: 29px;
  margin: 0 0 74px;
}
.game-details__sidebar {
  flex: 0 0 270px;
}
.game-details__sidebar-cover {
  margin: 0 0 20px;
}
.game-details__sidebar-cover-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.game-details__sidebar-user {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 15px;
  line-height: 147%;
  font-weight: 400;
}
.game-details__sidebar-user-title {
  font-weight: 600;
  color: #222;
}
.game-details__sidebar-user-text {
  color: #4d4d4d;
}
.game-details__sidebar-user-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #cbcbcb;
}
.game-details__sidebar-user-info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.game-details__sidebar-user-info-item::before {
  content: "";
  height: 21px;
  width: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px;
}
.game-details__sidebar-user-info-item_full:before {
  background-image: url(../assets/star.svg);
}
.game-details__sidebar-user-info-item_approved:before {
  background-image: url(../assets/approve.svg);
}
.game-details__sidebar-user-info-item_notfull:before {
  background-image: url(../assets/minus.svg);
}
.game-details__sidebar-user-info-item_doubtfully:before {
  background-image: url(../assets/question.svg);
}
.game-details__sidebar-user-info-item_tips:before {
  background-image: url(../assets/tips.svg);
}
.game-details__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.game-details__info-accordion-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0;
  margin: 5px 0 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: #044b96;
  border: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.game-details__info-accordion-button::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url(../assets/dropdown.svg) center no-repeat;
  transition: transform 0.2s ease-out;
}
.game-details__info-accordion-button.active::after {
  transform: rotate(180deg);
}
.game-details__info-accordion .game-details__info-item {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.game-details__info-item {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.game-details__info-item-title {
  font-weight: 600;
  color: #222;
}
.game-details__info-item-text {
  color: #4d4d4d;
}
.game-details__info-item-edit {
  display: inline-block;
  padding: 0;
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 4px;
  background: url(../assets/edit.svg) center no-repeat;
  background-size: 10px;
  background-color: #044b96;
  cursor: pointer;
}
.game-details__info-item-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 6px;
}
.game-details__info-item-icons-image {
  height: 35px;
  width: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}
.game-details__rarity {
  flex: 0 0 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.game-details__rarity-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.game-details__rarity-content-title {
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #222;
  text-align: center;
}
.game-details__rarity-content-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 140px;
  margin: 0 auto;
}
.game-details__rarity-content-rating-icon {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}
.game-details__rarity-content-rating-icon-item {
  width: 7px;
  background-color: #c6c6c6;
}
.game-details__rarity-content-rating-icon-item:nth-child(1) {
  height: 12px;
}
.game-details__rarity-content-rating-icon-item:nth-child(2) {
  height: 18px;
}
.game-details__rarity-content-rating-icon-item:nth-child(3) {
  height: 24px;
}
.game-details__rarity-content-rating_rare .game-details__rarity-content-rating-icon-item:nth-child(1) {
  background-color: #1862a9;
}
.game-details__rarity-content-rating_normal .game-details__rarity-content-rating-icon-item:nth-child(1), .game-details__rarity-content-rating_normal .game-details__rarity-content-rating-icon-item:nth-child(2) {
  background-color: #1862a9;
}
.game-details__rarity-content-rating_common .game-details__rarity-content-rating-icon-item {
  background-color: #1862a9;
}
.game-details__rarity-content-rating-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #222;
}
.game-details__rarity-content-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 7px;
  margin: 26px 0 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  background-color: #044b96;
}
.game-details__rarity-content-tag::before {
  content: "";
  height: 20px;
  width: 20px;
  background: url(../assets/gamepad.svg) center no-repeat;
}
.game-details__rarity-content-tag_exclusive {
  background-color: #eb5757;
}
.game-details__rarity-content-tag_exclusive::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(../assets/diamond.svg);
}

.game-covers__set {
  display: flex;
  align-items: center;
  gap: 27px;
  margin: 0 0 24px;
}
.game-covers__set-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #222;
}
.game-covers__set-item::before {
  content: "";
  width: 19px;
  height: 19px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
}
.game-covers__set-item_full::before {
  background-image: url(../assets/star.svg);
}
.game-covers__set-item_notfull::before {
  background-image: url(../assets/minus.svg);
}
.game-covers__cards {
  display: flex;
  gap: 6px;
  margin: 0 0 22px;
}
.game-covers__card {
  flex: 0 0 calc(16.6666666667% - 5px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  transition: border ease-in-out 0.2s;
}
.game-covers__card:hover {
  border-color: #044b96;
}
.game-covers__card.active {
  border-color: #044b96;
}
.game-covers__card-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  min-height: 48px;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  color: #fff;
  border-radius: 5px 5px 0 0;
  background-color: #044b96;
}
.game-covers__card-cover {
  height: 152px;
  margin: 0;
  padding: 13px;
  box-sizing: border-box;
  background: url(../assets/no-photo.svg) center no-repeat;
}
.game-covers__card-cover-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.game-covers__card-buttons {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 13px;
}
.game-covers__card-buttons::after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 6px;
  background-color: #e1e1e1;
}
.game-covers__card-button {
  display: flex;
  gap: 5px;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #5e5e5e;
  text-align: left;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
.game-covers__card-button::before {
  content: "";
  flex: 0 0 auto;
  display: inline-block;
  height: 14px;
  width: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px;
}
.game-covers__card-button_comment::before {
  background-image: url(../assets/comment.svg);
}
.game-covers__card-button_incorrect::before {
  background-image: url(../assets/cross.svg);
}
.game-covers__card-details {
  position: relative;
}
.game-covers__card-details-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 7px 12px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 117%;
  color: #044b96;
  cursor: pointer;
}
.game-covers__card-details-button::after {
  content: "";
  width: 11px;
  height: 7px;
  background: url(../assets/arrow-right.svg) center no-repeat;
  background-size: 11px;
}
.game-covers__card-details-list {
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: none;
  width: 250px;
  padding: 16px 20px;
  box-sizing: border-box;
  list-style-type: none;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
}
.game-covers__card-details-list-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 215%;
  color: #222;
}
.game-covers__card-details-list-item b {
  font-weight: 600;
}
.game-covers__card-details:hover .game-covers__card-details-list {
  display: block;
}
.game-covers__bottom {
  display: flex;
  justify-content: space-between;
}
.game-covers__bottom-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #044b96;
}

.game-technical__table {
  width: 100%;
  margin-bottom: 28px;
  vertical-align: middle;
  border-color: #e0e0e0;
  border-collapse: collapse;
}
.game-technical__table > :not(caption) > * > * {
  padding: 10px 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  color: #222;
  background-color: #ffffff;
}
.game-technical__table > tbody {
  vertical-align: inherit;
}
.game-technical__table > tbody tr {
  display: table-row;
  border-top: 1px solid #e0e0e0;
}
.game-technical__table > tbody tr:last-of-type {
  border-bottom: 1px solid #e0e0e0;
}
.game-technical__table > tbody tr > td {
  border-left: 1px solid #e0e0e0;
}
.game-technical__table > tbody tr > td:first-of-type {
  font-weight: 600;
}
.game-technical__table > tbody tr > td:last-of-type {
  border-right: 1px solid #e0e0e0;
}
.game-technical__table > tbody > tr:nth-of-type(2n + 1) > * {
  background-color: #f9f9f9;
}
.game-technical__button-edit {
  display: inline-block;
  padding: 0;
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 4px;
  background: url(../assets/edit.svg) center no-repeat;
  background-size: 10px;
  background-color: #044b96;
  cursor: pointer;
}
.game-technical__bottom {
  display: flex;
  justify-content: flex-end;
}

.admin-header .container {
  display: flex;
  max-width: 1400px;
  padding: 0;
  border-bottom: 2px solid #044b96;
}
.admin-header__logo {
  flex: 0 0 382px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-right: 2px solid #044b96;
}
.admin-header__logo-link {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  color: #b9b9b9;
}
.admin-header__info {
  flex: 1 1 auto;
  display: flex;
}
.admin-header__info-block {
  flex: 1 1 30%;
  padding: 12px 24px 16px 90px;
  box-sizing: border-box;
  border-right: 1px solid #c0c0c0;
  background-position: bottom 20px left 28px;
  background-repeat: no-repeat;
}
.admin-header__info-block:last-child {
  border: none;
}
.admin-header__info-block_security {
  flex: 0 0 410px;
  background-image: url(../assets/security-icon.svg);
  background-size: 49px;
}
.admin-header__info-block_clients {
  background-image: url(../assets/info-icon.svg);
  background-size: 44px;
}
.admin-header__info-block_support {
  background-image: url(../assets/support-icon.svg);
  background-size: 53px;
}
.admin-header__info-title {
  margin: 0 0 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 136%;
  color: #044b96;
}
.admin-header__info-item {
  display: flex;
  gap: 18px;
  font-weight: 500;
  font-size: 12px;
  line-height: 158%;
  color: #222;
}
.admin-header__info-item-name {
  flex: 0 0 154px;
}
.admin-header__info-list {
  margin: 0;
  padding-left: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 158%;
}
.admin-header__info-list-link {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #222;
}

.admin-main .container {
  display: flex;
  max-width: 1400px;
  padding: 0;
  border-bottom: 2px solid #c0c0c0;
}
.admin-main__aside {
  flex: 0 0 382px;
  box-sizing: border-box;
  border-right: 2px solid #044b96;
}
.admin-main__content {
  flex: 1 1 auto;
  padding: 26px 32px 60px;
}
.admin-main__content .breadcrumbs {
  margin: 0 0 24px;
}
.admin-main__content-nav {
  display: flex;
  gap: 10px;
  margin: 0 -32px 36px 0;
  border-bottom: 2px solid #044b96;
}
.admin-main__content-nav-button {
  display: inline-block;
  padding: 9px 24px;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  color: #222222;
  border: 2px solid #044b96;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: rgba(255, 255, 255, 0);
  transition: ease-in-out;
  cursor: pointer;
}
.admin-main__content-nav-button.active, .admin-main__content-nav-button:hover {
  color: white;
  background-color: #044b96;
}
.admin-main__content-form {
  display: none;
}
.admin-main__content-form.active {
  display: block;
}
.admin-main__content-fieldset {
  margin: 0 0 20px;
  padding: 0;
  border: none;
}
.admin-main__content-fieldset:last-child {
  margin: 0;
}
.admin-main__content-fieldset-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px 8px;
  flex-wrap: wrap;
}
.admin-main__content-fieldset-wrapper_double .custom-select, .admin-main__content-fieldset-wrapper_double .admin-main__content-file, .admin-main__content-fieldset-wrapper_double .admin-main__content-textarea {
  flex: 0 1 312px;
  max-width: 312px;
  width: 100%;
}
.admin-main__content-label {
  display: block;
  margin: 0 0 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #222;
}
.admin-main__content-input, .admin-main__content-textarea {
  display: block;
  width: 632px;
  box-sizing: border-box;
  padding: 11px 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #4d4d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  outline-color: #e0e0e0;
}
.admin-main__content-input::-moz-placeholder, .admin-main__content-textarea::-moz-placeholder {
  color: #4d4d4d;
}
.admin-main__content-input::placeholder, .admin-main__content-textarea::placeholder {
  color: #4d4d4d;
}
.admin-main__content-input_date {
  width: 211px;
}
.admin-main__content-input_sm {
  width: 262px;
}
.admin-main__content-textarea {
  min-height: 90px;
  resize: none;
}
.admin-main__content-add-button {
  display: inline-block;
  height: 46px;
  width: 46px;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  color: #4d4d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: url(../assets/plus-icon.svg) center no-repeat;
  background-color: #f9f9f9;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.admin-main__content-add-button:hover {
  border-color: #044b96;
}
.admin-main__content-add-button:active {
  transform: scale(0.96);
}
.admin-main__content-add-button_lg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 632px;
  padding: 4px 16px;
  background-position: center right 16px;
}
.admin-main__content-add-button_lg:active {
  transform: scale(0.99);
}
.admin-main__content-checkbox_lg {
  flex: 1 0 100%;
}
.admin-main__content-checkbox-input {
  display: none;
}
.admin-main__content-checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: 15px;
  line-height: 233%;
  color: #222;
  cursor: pointer;
}
.admin-main__content-checkbox-label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: #f9f9f9;
  transition: border-color ease-in-out 0.1s;
}
.admin-main__content-checkbox-label:hover::before {
  border-color: #044b96;
}
.admin-main__content-checkbox:has(.admin-main__content-checkbox-input:checked) .admin-main__content-checkbox-label::before {
  border: 1px solid #044b96;
  border-radius: 3px;
  background: url(../assets/checked.svg) center no-repeat;
  background-size: 14px;
  background-color: #044b96;
}
.admin-main__content-file {
  width: 262px;
  cursor: pointer;
}
.admin-main__content-file-label {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 11px 17px;
  padding-right: 52px;
  color: #4d4d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background: url(../assets/file-icon.svg) center right 16px no-repeat;
  background-color: #f9f9f9;
  outline-color: #e0e0e0;
  cursor: pointer;
}
.admin-main__content-file-input {
  display: none;
}
.admin-main__content-file-text {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: calc(100% - 1px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-main__content-exclusive {
  display: flex;
  gap: 9px;
}
.admin-main__content-exclusive-input {
  display: none;
}
.admin-main__content-exclusive-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  min-height: 38px;
  padding: 4px 30px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 110%;
  color: #fff;
  border-radius: 7px;
  background-color: #989898;
  transition: all ease-in-out 0.1s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.admin-main__content-exclusive-label::before {
  content: "";
  display: inline-block;
  height: 21px;
  width: 21px;
}
.admin-main__content-exclusive-label_isexclusive::before {
  background: url(../assets/diamond.svg) center no-repeat;
}
.admin-main__content-exclusive-label_notexclusive::before {
  background: url(../assets/gamepad.svg) center no-repeat;
}
.admin-main__content-exclusive-radio:has(.admin-main__content-exclusive-input:checked) .admin-main__content-exclusive-label_isexclusive {
  background-color: #eb5757;
}
.admin-main__content-exclusive-radio:has(.admin-main__content-exclusive-input:checked) .admin-main__content-exclusive-label_notexclusive {
  background-color: #044b96;
}
.admin-main__content .custom-select {
  width: 632px;
}
.admin-main__content .custom-select .select-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 11px 17px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #4d4d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.admin-main__content .custom-select .select-selected::after {
  width: 18px;
  height: 18px;
  background-size: 18px;
  opacity: 0.8;
}
.admin-main__content .custom-select .select-items {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  max-height: 240px;
  padding: 8px 0;
  box-sizing: border-box;
  overflow: auto;
  font-weight: 400;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
}
.admin-main__content .custom-select .select-item {
  padding: 6px 16px;
  font-size: 15px;
  line-height: 22px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.admin-main__content .custom-select .select-item:hover {
  color: #ffffff;
  background-color: #044b96;
}
.admin-main__content-figure {
  margin: 0;
}
.admin-main__content-figure-image {
  display: block;
  max-height: 127px;
  width: auto;
}
.admin-main__content-info {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin: 11px 0;
  margin-left: 10px;
  box-sizing: border-box;
  background: url(../assets/question-fill.svg) center no-repeat;
  background-size: 24px;
  cursor: pointer;
}
.admin-main__content-info-text {
  position: absolute;
  top: 0px;
  left: 28px;
  display: none;
  width: 246px;
  padding: 16px 11px 11px 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 13px;
  line-height: 146%;
  color: #222;
  border-radius: 7px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
}
.admin-main__content-info:hover .admin-main__content-info-text {
  display: block;
}
.admin-main__content-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 40px 0 0;
}
.admin-main__content-buttons-save, .admin-main__content-buttons-cancel {
  display: inline-block;
  padding: 9px 36px 12px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  border: 1px solid #044b96;
  border-radius: 5px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.admin-main__content-buttons-save:active, .admin-main__content-buttons-cancel:active {
  transform: scale(0.96);
}
.admin-main__content-buttons-save {
  color: #fff;
  background-color: #044b96;
}
.admin-main__content-buttons-save:hover {
  background-color: #033d7b;
}
.admin-main__content-buttons-cancel {
  color: #044b96;
  background-color: #fff;
}
.admin-main__content-buttons-cancel:hover {
  background-color: #f0f7ff;
}

.admin-sidebar__user {
  padding: 18px 16px 18px 98px;
  background: url(../assets/account.svg) left 16px center no-repeat;
  background-size: 65px;
  background-color: #f9f9f9;
}
.admin-sidebar__user-info {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}
.admin-sidebar__user-info-text {
  color: #222222;
}
.admin-sidebar__user-info-value {
  color: #044b96;
}
.admin-sidebar__user-logout {
  padding: 0;
  font-size: 15px;
  line-height: 150%;
  font-weight: 600;
  color: #044b96;
  border: none;
  cursor: pointer;
}
.admin-sidebar__nav {
  display: flex;
  flex-direction: column;
}
.admin-sidebar__nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 147%;
  color: #222222;
  border-top: 1px solid #e0e0e0;
  transition: color ease-in-out 0.14s, background-color ease-in-out 0.14s;
  will-change: color, background-color;
}
.admin-sidebar__nav-link:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.admin-sidebar__nav-link::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: filter ease-in-out 0.14s;
  will-change: filter;
}
.admin-sidebar__nav-link_sections::before {
  background-image: url(../assets/sections-icon.svg);
}
.admin-sidebar__nav-link_store::before {
  background-image: url(../assets/store-icon.svg);
}
.admin-sidebar__nav-link_library::before {
  background-image: url(../assets/library-icon.svg);
}
.admin-sidebar__nav-link_settings::before {
  background-image: url(../assets/settings-icon.svg);
}
.admin-sidebar__nav-link_secure::before {
  background-image: url(../assets/secure-icon.svg);
}
.admin-sidebar__nav-link_additions::before {
  background-image: url(../assets/additions-icon.svg);
}
.admin-sidebar__nav-link.active, .admin-sidebar__nav-link:hover {
  color: #ffffff;
  background-color: #044b96;
}
.admin-sidebar__nav-link.active::before, .admin-sidebar__nav-link:hover::before {
  filter: brightness(0) invert(1);
}
.admin-sidebar__menu {
  padding: 12px 30px;
}
.admin-sidebar__menu-list {
  margin: 0;
}
.admin-sidebar__menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 187%;
  color: #4d4d4d;
  transition: color ease-in-out 0.14s, transform ease-in-out 0.14s;
  will-change: transform, color;
}
.admin-sidebar__menu-link:hover {
  color: #044b96;
  transform: translate(4px);
}

.admin-footer .container {
  display: flex;
  max-width: 1400px;
  padding: 0;
}
.admin-footer__time {
  flex: 0 0 382px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  color: #222;
  border-right: 2px solid #044b96;
}
.admin-footer__info {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  padding: 34px;
}
.admin-footer__info-item {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
}
.admin-footer__info-item-text {
  color: #222;
}
.admin-footer__info-item-link {
  color: #044b96;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__body {
  position: relative;
  max-width: 640px;
  padding: 54px 70px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #ffffff;
}
.modal__body_error {
  padding: 80px 40px;
}
.modal__title {
  margin: 0 0 26px;
  font-size: 30px;
  text-align: center;
}
.modal__title_error {
  font-weight: 500;
  color: #dd4747;
}
.modal__text {
  margin: 0 0 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 153%;
  text-align: center;
  color: #222;
}
.modal__texteditor-label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.modal__texteditor-label-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 147%;
  color: #222;
}
.modal__texteditor-textarea {
  display: inline-block;
  min-height: 120px;
  width: 100%;
  padding: 10px 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  color: #4d4d4d;
  outline-color: #044b96;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  resize: none;
}
.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 28px 0 0;
}
.modal__button {
  min-width: 170px;
  padding: 9px 20px 12px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  border: 1px solid #044b96;
  border-radius: 5px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.modal__button:active {
  transform: scale(0.96);
}
.modal__button_dark {
  color: #fff;
  background-color: #044b96;
}
.modal__button_dark:hover {
  background-color: #033d7b;
}
.modal__button_light {
  color: #044b96;
  background-color: #fff;
}
.modal__button_light:hover {
  background-color: #f0f7ff;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../assets/close.svg) center no-repeat;
}