.admin-main {
  & .container {
    display: flex;
    max-width: 1400px;
    padding: 0;
    border-bottom: 2px solid #c0c0c0;
  }

  &__aside {
    flex: 0 0 382px;
    box-sizing: border-box;
    border-right: 2px solid #044b96;
  }

  &__content {
    flex: 1 1 auto;
    padding: 26px 32px 60px;

    & .breadcrumbs {
      margin: 0 0 24px;
    }

    &-nav {
      display: flex;
      gap: 10px;
      margin: 0 -32px 36px 0;
      border-bottom: 2px solid #044b96;

      &-button {
        display: inline-block;
        padding: 9px 24px;
        font-weight: 400;
        font-size: 15px;
        line-height: 147%;
        color: #222222;
        border: 2px solid #044b96;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        background-color: rgba($color: #ffffff, $alpha: 0);
        transition: ease-in-out;
        cursor: pointer;

        &.active,
        &:hover {
          color: white;
          background-color: #044b96;
        }
      }
    }

    &-form {
      display: none;

      &.active {
        display: block;
      }
    }

    &-fieldset {
      margin: 0 0 20px;
      padding: 0;
      border: none;

      &:last-child {
        margin: 0;
      }

      &-wrapper {
        display: flex;
        align-items: flex-start;
        gap: 10px 8px;
        flex-wrap: wrap;

        &_double {
          & .custom-select,
          & .admin-main__content-file,
          & .admin-main__content-textarea {
            flex: 0 1 312px;
            max-width: 312px;
            width: 100%;
          }
        }
      }
    }

    &-label {
      display: block;
      margin: 0 0 6px;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      color: #222;
    }

    &-input,
    &-textarea {
      display: block;
      width: 632px;
      box-sizing: border-box;
      padding: 11px 17px;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #4d4d4d;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      background-color: #f9f9f9;
      outline-color: rgba($color: #e0e0e0, $alpha: 1);

      &::placeholder {
        color: #4d4d4d;
      }
    }

    &-input {
      &_date {
        width: 211px;
      }

      &_sm {
        width: 262px;
      }
    }

    &-textarea {
      min-height: 90px;
      resize: none;
    }

    &-add-button {
      display: inline-block;
      height: 46px;
      width: 46px;
      padding: 0;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 15px;
      line-height: 147%;
      color: #4d4d4d;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      background: url(../assets/plus-icon.svg) center no-repeat;
      background-color: #f9f9f9;
      transition: all ease-in-out 0.1s;
      cursor: pointer;

      &:hover {
        border-color: #044b96;
      }

      &:active {
        transform: scale(0.96);
      }

      &_lg {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 632px;
        padding: 4px 16px;
        background-position: center right 16px;

        &:active {
          transform: scale(0.99);
        }
      }
    }

    &-checkbox {
      &_lg {
        flex: 1 0 100%;
      }

      &-input {
        display: none;
      }

      &-label {
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;
        font-weight: 400;
        font-size: 15px;
        line-height: 233%;
        color: #222;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          width: 26px;
          height: 26px;
          box-sizing: border-box;
          border: 1px solid #e0e0e0;
          border-radius: 3px;
          background-color: #f9f9f9;
          transition: border-color ease-in-out 0.1s;
        }

        &:hover::before {
          border-color: #044b96;
        }
      }

      &:has(.admin-main__content-checkbox-input:checked) &-label::before {
        border: 1px solid #044b96;
        border-radius: 3px;
        background: url(../assets/checked.svg) center no-repeat;
        background-size: 14px;
        background-color: #044b96;
      }
    }

    &-file {
      width: 262px;
      cursor: pointer;

      &-label {
        display: flex;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 11px 17px;
        padding-right: 52px;
        color: #4d4d4d;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background: url(../assets/file-icon.svg) center right 16px no-repeat;
        background-color: #f9f9f9;
        outline-color: rgba($color: #e0e0e0, $alpha: 1);
        cursor: pointer;
      }

      &-input {
        display: none;
      }

      &-text {
        display: inline-block;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        width: calc(100% - 1px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &-exclusive {
      display: flex;
      gap: 9px;

      &-input {
        display: none;
      }

      &-label {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        min-height: 38px;
        padding: 4px 30px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 15px;
        line-height: 110%;
        color: #fff;
        border-radius: 7px;
        background-color: #989898;
        transition: all ease-in-out 0.1s;
        user-select: none;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          height: 21px;
          width: 21px;
        }

        &_isexclusive::before {
          background: url(../assets/diamond.svg) center no-repeat;
        }

        &_notexclusive::before {
          background: url(../assets/gamepad.svg) center no-repeat;
        }
      }

      &-radio:has(.admin-main__content-exclusive-input:checked) &-label {
        &_isexclusive {
          background-color: #eb5757;
        }

        &_notexclusive {
          background-color: #044b96;
        }
      }
    }

    & .custom-select {
      width: 632px;

      & .select-selected {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 11px 17px;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: #4d4d4d;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-color: #f9f9f9;

        &::after {
          width: 18px;
          height: 18px;
          background-size: 18px;
          opacity: 0.8;
        }
      }

      & .select-items {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        max-height: 240px;
        padding: 8px 0;
        box-sizing: border-box;
        overflow: auto;
        font-weight: 400;
        border-radius: 5px;
        background-color: #ffffff;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
      }

      & .select-item {
        padding: 6px 16px;
        font-size: 15px;
        line-height: 22px;
        transition: all ease-in-out 0.1s;
        cursor: pointer;

        &:hover {
          color: #ffffff;
          background-color: #044b96;
        }
      }
    }

    &-figure {
      margin: 0;

      &-image {
        display: block;
        max-height: 127px;
        width: auto;
      }
    }

    &-info {
      position: relative;
      display: block;
      width: 24px;
      height: 24px;
      margin: 11px 0;
      margin-left: 10px;
      box-sizing: border-box;
      background: url(../assets/question-fill.svg) center no-repeat;
      background-size: 24px;
      cursor: pointer;

      &-text {
        position: absolute;
        top: 0px;
        left: 28px;
        display: none;
        width: 246px;
        padding: 16px 11px 11px 16px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 13px;
        line-height: 146%;
        color: #222;
        border-radius: 7px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
        background-color: #fff;
      }

      &:hover &-text {
        display: block;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 40px 0 0;

      &-save,
      &-cancel {
        display: inline-block;
        padding: 9px 36px 12px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 15px;
        line-height: 160%;
        text-align: center;
        border: 1px solid #044b96;
        border-radius: 5px;
        transition: all ease-in-out 0.1s;
        cursor: pointer;

        &:active {
          transform: scale(0.96);
        }
      }

      &-save {
        color: #fff;
        background-color: #044b96;

        &:hover {
          background-color: #033d7b;
        }
      }

      &-cancel {
        color: #044b96;
        background-color: #fff;

        &:hover {
          background-color: #f0f7ff;
        }
      }
    }
  }
}
