.game-search {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 11px 16px 14px;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #222;
    border-radius: 5px;
    background-color: #f0f0f0;
  }

  &__title {
    font-weight: 600;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 32px;

    &-link {
      color: #222;
    }
  }
}
