.game-details {
  display: flex;
  gap: 29px;
  margin: 0 0 74px;

  &__sidebar {
    flex: 0 0 270px;

    &-cover {
      margin: 0 0 20px;

      &-image {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }

    &-user {
      display: flex;
      flex-direction: column;
      gap: 2px;

      font-size: 15px;
      line-height: 147%;
      font-weight: 400;

      &-title {
        font-weight: 600;
        color: #222;
      }

      &-text {
        color: #4d4d4d;
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 20px 0 0;
        margin: 20px 0 0;
        border-top: 1px solid #cbcbcb;

        &-item {
          display: flex;
          align-items: center;
          gap: 5px;

          &::before {
            content: '';
            height: 21px;
            width: 21px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 21px;
          }

          &_full:before {
            background-image: url(../assets/star.svg);
          }

          &_approved:before {
            background-image: url(../assets/approve.svg);
          }

          &_notfull:before {
            background-image: url(../assets/minus.svg);
          }

          &_doubtfully:before {
            background-image: url(../assets/question.svg);
          }

          &_tips:before {
            background-image: url(../assets/tips.svg);
          }
        }
      }
    }
  }

  &__info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-accordion {
      &-button {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 0;
        margin: 5px 0 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        color: #044b96;
        border: none;
        background: rgba($color: #000000, $alpha: 0);
        cursor: pointer;

        &::after {
          content: '';
          display: inline-block;
          height: 12px;
          width: 12px;
          background: url(../assets/dropdown.svg) center no-repeat;
          transition: transform 0.2s ease-out;
        }

        &.active::after {
          transform: rotate(180deg);
        }
      }
    }

    &-accordion &-item {
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    &-item {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;

      &-title {
        font-weight: 600;
        color: #222;
      }

      &-text {
        color: #4d4d4d;
      }

      &-edit {
        display: inline-block;
        padding: 0;
        height: 18px;
        width: 18px;
        border: none;
        border-radius: 4px;
        background: url(../assets/edit.svg) center no-repeat;
        background-size: 10px;
        background-color: #044b96;
        cursor: pointer;
      }

      &-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        margin-top: 6px;

        &-image {
          height: 35px;
          width: 32px;
          object-fit: contain;
        }
      }
    }
  }

  &__rarity {
    flex: 0 0 176px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &-content {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-title {
        margin: 0 0 6px;
        font-weight: 600;
        font-size: 15px;
        line-height: 160%;
        color: #222;
        text-align: center;
      }

      &-rating {
        display: flex;
        align-items: center;
        gap: 8px;
        max-width: 140px;
        margin: 0 auto;

        &-icon {
          flex: 0 0 auto;
          display: flex;
          align-items: flex-end;
          gap: 3px;

          &-item {
            width: 7px;
            background-color: #c6c6c6;

            &:nth-child(1) {
              height: 12px;
            }

            &:nth-child(2) {
              height: 18px;
            }

            &:nth-child(3) {
              height: 24px;
            }
          }
        }

        &_rare &-icon-item:nth-child(1) {
          background-color: #1862a9;
        }

        &_normal &-icon-item:nth-child(1),
        &_normal &-icon-item:nth-child(2) {
          background-color: #1862a9;
        }

        &_common &-icon-item {
          background-color: #1862a9;
        }

        &-text {
          font-weight: 500;
          font-size: 12px;
          line-height: 117%;
          color: #222;
        }
      }

      &-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        padding: 7px;
        margin: 26px 0 0;
        font-weight: 600;
        font-size: 15px;
        line-height: 160%;
        color: #fff;
        text-align: center;
        border-radius: 7px;
        background-color: #044b96;

        &::before {
          content: '';
          height: 20px;
          width: 20px;
          background: url(../assets/gamepad.svg) center no-repeat;
        }

        &_exclusive {
          background-color: #eb5757;

          &::before {
            content: '';
            height: 20px;
            width: 20px;
            background-image: url(../assets/diamond.svg);
          }
        }
      }
    }
  }
}
